<div class="card">
  <div class="card-body">
    <ng-container *ngIf="productSerial == null then loading else data">

    </ng-container>
  </div>
</div>


<ng-template #data>
  <ul>
    <li *ngFor="let item of productSerial"> <ngx-barcode [bc-value]="item.serial" [bc-display-value]="true"></ngx-barcode>  status :{{item.serialStatus}}


      <ul>
        <li *ngFor="let item2 of item.subSerial"> {{item2.serial}}</li>
      </ul>

    </li>
  </ul>
</ng-template>

<ng-template #loading>
    <p class="text-center"> loading ...</p>
</ng-template>
