<div class="card">
  <div class="card-body">


    <div class="row">
    <div class="col-md-6">
    <div class="form-group">
      <label > Customer</label>
      <select>

      </select>
    </div>
  </div>


  <div class="col-md-6">
    <div class="form-group">
      <label > Note</label>
        <textarea class="form-control"></textarea>
    </div>
  </div>
  </div>
</div>

</div>

<div class="card mt-2">
  <div class="card-body">
      <table class="table">
        <thead>
          <th>Product Serial</th>
          <th>Product Name</th>
          <th>Price</th>
          <th>Discount</th>

        </thead>
      </table>
  </div>
</div>


<div class="card mt-2">
    <div class="card-body">

      <div>
    <label>Total : </label>
      <label> 0 </label>
    </div>

    <div>
      <label> Total Discount :</label>
      <label> 0 </label>
    </div>

    </div>
</div>


<div class="card">
  <div class="card-body">
    <div>
      <button class="btn btn-primary" type="button">Submit</button>
    </div>
  </div>
</div>
